body {
	background-color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: white;
}

#chatbox {
	position: fixed;
	bottom: 0;
	width: 95%;
}

#messages {
	position: absolute;
	width: 95%;
	height: 65%;
	overflow-y: auto;
}

.note {
	color: red;
}

input {
	border: 5;
	width: 95%;
	margin-right: .5%;
	padding: 5px;
}

.username {
	font-size: 12px;
}

.datetime {
	display:none;
}

.messageme {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	background-color: #99FF99;
	color: #000000;
	padding: 3px;
	margin-right: 10px;
	margin-top: 5px;
	text-indent: 10px;
}

.messageother {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	background-color: #ADD8E6;
	color: #000000;
	padding: 3px;
	margin-right: 10px;
	margin-top: 5px;
	text-indent: 10px;
}

.messageold {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	background-color: #D3D3D3;
	color: #000000;
	padding: 3px;
	margin-right: 10px;
	margin-top: 5px;
	text-indent: 10px;
}